@import './assets/fonts/fonts.css';

body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
