.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  width: 100%;
}

.header--yellow {
  background-color: #ffe600;
}

.header--white {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.header__menu {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.header__content-left {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
}

.header__logo {
  width: 45.84px;
  height: 31.72px;
}

.header__content-right {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

.header__drawer {
  width: 24px;
  height: 24px;
}

.header__close {
  width: 24.12px;
  height: 24.13px;
}

.button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 12px 9px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.button--login {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.9);
}

.button--login-alt {
  background-color: rgba(65, 137, 230, 0.15);
  color: #3483fa;
}

.button--cta-end {
    background-color: #3483fa;
    color: #ffffff;
    width: 100%;
    padding: 15px 12px;
}
